@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

*{
    margin: 0; padding: 0; 
    text-decoration: none;
    box-sizing: border-box;  
    /* border: 1px dotted green; */
}

:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
}

header h1{
    margin: 2em;
    font-size: 3rem;
}

body h2{
    margin: 2em;
    font-size: 2rem;
}

hr{
    margin: 3em;
}
/*********************  EJERCICO 1  **********************/

section div#e1{
    margin: 0 auto;
    width: 600px;
    height: 400px;
    background-size: 100% 100%;
    animation: carrusel 20s infinite alternate;
    border-radius: 25px;
}

@keyframes carrusel {
    0% , 30%{
        background-image: url("../img/img1.jpg");
        opacity: 1;
        transform: rotate(0deg);
    }

    31% , 34%{
        opacity: 0;
        transform: rotate(-360deg);
    }

    35% , 65%{
        background-image: url("../img/img2.jpg");
        opacity: 1;
        transform: rotate(0deg);
    }

    66% , 69%{
        opacity: 0;
        transform: rotate(-360deg);
    }

    70% , 100%{
        background-image: url("../img/img3.jpg");
        opacity: 1;
        transform: rotate(0deg);
    }
}

/*********************  EJERCICO 2  **********************/

section div#e2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div#e2 a{
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: aqua;
    width: auto;
    height: auto;
    margin: 0  auto;
    padding: 15px 30px;
    border-radius: 10px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
}
section div#e2 a:hover{
    color:rgb(36, 36, 36);
    background-color: aqua;
    transition-delay: 1s;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua,0 0 80px aqua;
}
section div#e2 a span{
    position: absolute;
    display: block;
}
section div#e2 a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,aqua);
}
section div#e2 a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
section div#e2 a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,aqua);
}
section div#e2 a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
section div#e2 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,aqua);
}
section div#e2 a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
section div#e2 a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,aqua);
}
section div#e2 a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*********************  EJERCICO 3  **********************/


section#animacion{
    position: relative;
}

section#animacion h2{
    margin-bottom: 15rem;
}

section div#linea{
    position: relative;
    top: -90px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background: transparent;
    border-bottom: 4px solid aqua;
    animation: animate 3s linear infinite;
}

section div#punto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: aqua;
    animation: bounce 3s linear infinite;
}

@keyframes bounce {
    0%{
        top: calc(50% + 5px);
    }
    25%{
        top: calc(50% - 100px);
    }
    50%{
        top: calc(50% - 55px);
    }
    75%{
        top: calc(50% - 75px);
    }
    100%{
        top: calc(50% + 45px);
    }
}

@keyframes animate {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%,-70%) rotate(0deg);
    }
    75%{
        transform: translate(-50%,-10%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/*********************  EJERCICO 4  **********************/


section div#e4{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
section div#e4 a{
    font-family: 'Rubik Distressed';  
    text-shadow: 1px 0 5px#FF00C0, -1px 0 5px #FF00C0, 0 1px 5px #FF00C0, 0 -1px 5px #FF00C0;
    font-size: 0.5rem;
    color: aqua;
    border-color: FF00C0;
    margin: 100px  auto;
    letter-spacing: 4px;
    animation: banner 20s ease-out infinite;
    animation-delay: 6s;
}

@keyframes banner {
    0%{
        transform:scale(100%);
        opacity: 1;
    }
    10%{
        transform:scale(5,5);
        opacity: 1;
    }
    20%{
        transform:scale(5,5)rotate(360deg);
        opacity: 1;
    }
    30%{
        transform:scale(5,5)rotate(720deg);
        opacity: 1;
    }
    50%{
        transform:scale(5,5) translateY(-50px);
        opacity: 1;
    }
    60%{
        transform:scale(5,5)translateY(0px);
        opacity: 1;
    }
    80%{
        transform:scale(0,0);
        opacity: 0.1;
    }
    100%{
        transform:scale(1,1);
        opacity: 1;
    }
}